<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sanctuary.kakaotalkchatbot">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- 설치된 패키지 검사 -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:name="com.sanctuary.kakaotalkchatbot.app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.kakaotalkchatbot"
        android:usesCleartextTraffic="true">
        <activity android:name="com.sanctuary.kakaotalkchatbot.activity.PermissionActivity" />

        <service
            android:name="com.sanctuary.kakaotalkchatbot.service.MyService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.sanctuary.kakaotalkchatbot.service.MyNotificationListener"
            android:label="My Notification Listener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity android:name="com.sanctuary.kakaotalkchatbot.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.sanctuary.kakaotalkchatbot.activity.MainActivity" />
    </application>

</manifest>